<p class="headcont">Izberite hrano</p>
<div class="alertdiv">
    <alert [type]="meniAlert.type" [isOpen]="meniAlert.open" style="width: 50%;">
        <span [innerHtml]="meniAlert.sporocilo"></span>
    </alert>
</div>
<div class="row justify-content-center">
    <ng-template ngFor let-meni_item [ngForOf]="meni_items" let-odd="odd">
        <div class="col-md-3 col-10">
            <div class="menuitem">
                <img src="{{meni_item.slika}}">
                <div class="menudesc">
                    <div class="menudescname">
                        <h1>{{meni_item.ime}}</h1>
                        <p>{{meni_item.cena}}€</p>
                    </div>
                    <div class="dodaj">
                        <i class="fas fa-plus" (click)="klikDodajPlus($event,meni_item._id)"></i>
                        <p class="foodCounter" id="{{meni_item._id}}">{{meni_item.kolicina}}</p>
                        <i class="fas fa-minus" (click)="klikDodajMinus($event,meni_item._id)"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 d-none d-md-block" *ngIf="odd"></div>
    </ng-template>
    <button class="butlarge" id="klikRezerviraj" (click)="klikRezerviraj($event)">Rezerviraj</button>
</div>