<div class="desccont">
    <div class="text">
        <h1>Tukaj smo za vas</h1>
        <p>Lorem Ipsum is simply dumm Lordumf type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic typesetting, remaining
            essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
            containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="slideshow"><img src="/assets/slike/andrew-seaman-sQopSb2K0CU-unsplash.jpg"></div>
</div>
<div class="infocont">
    <div class="infoconthor">
        <div class="infoel">
            <i class="fas fa-map-marker-alt"></i>
            <p>Naslov:</p>
        </div>
        <div class="infodes">
            <p>Večna pot 113, 1000 Ljubljana</p>
        </div>
        <div class="infoel">
            <i class="fas fa-mobile"></i>
            <p>GSM Telefon:</p>
        </div>
        <div class="infodes">
            <p>041 / 309 751</p>
        </div>
        <div class="infoel">
            <i class="fas fa-phone-alt"></i>
            <p>Naslov:</p>
        </div>
        <div class="infodes">
            <p>01 / 479 8000 </p>
        </div>
    </div>
    <div class="infoconthor timesmob">
        <div class="infoel">
            <i class="fas fa-clock"></i>
            <p>Ure</p>
        </div>
        <div class="infodes">
            <div class="date">
                <p>Ponedeljek</p>
                <p>7:00-21:00</p>
            </div>
            <div class="date">
                <p>Torek</p>
                <p>7:00-21:00</p>
            </div>
            <div class="date">
                <p>Sreda</p>
                <p>7:00-21:00</p>
            </div>
            <div class="date">
                <p>Četrtek</p>
                <p>7:00-21:00</p>
            </div>
            <div class="date">
                <p>Petek</p>
                <p>7:00-21:00</p>
            </div>
            <div class="date">
                <p>Sobota</p>
                <p>7:00-21:00</p>
            </div>
            <div class="date">
                <p>Nedelja</p>
                <p>7:00-21:00</p>
            </div>
        </div>
    </div>
    <iframe frameborder="0"
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ1zy531ItZUcRKRdBdEs1zb8&key=AIzaSyDeoblBLnrt15q3zGTtITIjQYbdb_aJjoA"
        allowfullscreen></iframe>
</div>
