<br>
<!-- Gumbi in iskanje ZAČETEK -->
<div class="container">
    <h1 class="text-center">{{vsebinaStrani.naslov}}</h1>
    <br>
    <div class="row">
        <div class="col-4 col-lg-2">
           <button type="button" class="btn btn-dark btn-block razmik" data-toggle="modal" data-target="#SestavinaModal1"><i class="fas fa-plus"></i> DODAJ</button>
        </div>
        <!-- ZAČETEK dodaj sestavino -->
        <div class="modal fade" id="SestavinaModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog bel" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dodaj sestavino</h5>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group is-invalid">
                      <label for="SestavinaForm1">Sestavina</label>
                      <input type="text" class="form-control is-invalid" id="SestavinaForm1" placeholder="Npr.: krompir" autofocus>
                      <div class="invalid-feedback" id="neveljavnaSestavina1">
                          Ime sestavine mora biti dolgo vsaj 3 črke in ne sme vsebovati števil ter posebnih znakov!
                      </div>
                  </div>
                  <div class="form-group is-invalid">
                      <label for="KolicinaForm1">Količina</label>
                      <input type="text" class="form-control is-invalid" id="KolicinaForm1" placeholder="Npr.: 10 kg">
                      <div class="invalid-feedback" id="neveljavnaKolicina1">
                          Količina mora vsebovati število ter enoto!
                      </div>
                  </div>
                  <div class="form-group is-invalid">
                      <label for="CenaForm1">Cena (€)</label>
                      <input type="text" class="form-control is-invalid" id="CenaForm1" placeholder="Npr.: 5">
                      <div class="invalid-feedback" id="neveljavnaCena1">
                          Cena vsebuje samo števke brez simbola valute!
                      </div>
                  </div>
                <!--</div>-->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark mr-auto" id="dodajSestavinoPotrdi" data-dismiss="modal" disabled>Dodaj</button>
                    <button type="button" class="btn btn-dark" id="dodajSestavinoPreklici" data-dismiss="modal">Prekliči</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- KONEC dodaj sestavino -->
        
        <div class="col-4 col-lg-2"><button type="button" class="btn btn-dark btn-block razmik" data-toggle="modal" data-target="#SestavinaModal2" id="uredi" disabled><i class="fas fa-edit"></i> UREDI</button></div>
        <!-- ZAČETEK uredi sestavino -->
        <div class="modal fade" id="SestavinaModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog bel" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Uredi sestavino</h5>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group is-invalid">
                        <label for="SestavinaForm">Sestavina</label>
                        <input type="text" class="form-control is-invalid" id="SestavinaForm2" placeholder="Npr.: krompir">
                        <div class="invalid-feedback" id="neveljavnaSestavina2">
                            Ime sestavine mora biti dolgo vsaj 3 črke in ne sme vsebovati števil ter posebnih znakov!
                        </div>
                    </div>
                    
                    <div class="form-group is-invalid">
                        <label for="KolicinaForm">Količina</label>
                        <input type="text" class="form-control is-invalid" id="KolicinaForm2" placeholder="Npr.: 10 kg">
                        <div class="invalid-feedback" id="neveljavnaKolicina2">
                            Količina mora vsebovati število ter enoto!
                        </div>
                    </div>
                    <div class="form-group is-invalid">
                        <label for="CenaForm1">Cena (€)</label>
                        <input type="text" class="form-control is-invalid" id="CenaForm2" placeholder="Npr.: 5">
                        <div class="invalid-feedback" id="neveljavnaCena2">
                            Cena vsebuje samo števke brez simbola valute!
                        </div>
                    </div>
                <!-- </div> -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-dark mr-auto" data-dismiss="modal" id="urediSestavinoPotrdi" disabled>Potrdi</button>
                  <button type="button" class="btn btn-dark" data-dismiss="modal" id="urediSestavinoPreklici">Prekliči</button>
                </div>
            <!-- </div> -->
          <!-- </div> -->
        <!-- </div> -->
        <!-- KONEC uredi sestavino -->
        
        <div class="col-4 col-lg-2"><button type="button" class="btn btn-dark btn-block razmik" id="izbrisiSestavino" data-toggle="modal" data-target="#SestavinaModal3" disabled><i class="fas fa-trash"></i> IZBRIŠI</button></div>
        <!-- ZAČETEK izbriši sestavino -->
        <div class="modal fade" id="SestavinaModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog bel" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Opozorilo!</h5>
              </div>
              <div class="modal-body">
                  <p>Ali res želite izbrisati izbrane sestavine?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark mr-auto" id="izbrisiSestavinoPotrdi" data-dismiss="modal">Da</button>
                <button type="button" class="btn btn-dark" id="izbrisiSestavinoPreklici" data-dismiss="modal">Ne</button>
              </div>
            </div>
          </div>
        </div>
        <!-- KONEC izbriši sestavino -->
        
        <!-- obrazec za iskanje ZAČETEK -->
        <div class="col-12 col-lg-6">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <select class="custom-select input-group-text izberi" id="iskanjePo">
                        <option selected>Sestavina</option>
                        <option value="1">Količina</option>
                        <option value="2">Cena</option>
                    </select>
                </div>
                <input class="form-control" type="text" placeholder="Iskanje" id="IskanjePoZalogi">
                <div class="input-group-append">
                    <button class="btn btn-dark" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
        <!-- obrazec za iskanje KONEC
    </div> -->
    <!-- Gumbi in iskanje KONEC -->
    <!-- ZAČETEK tabele -->
    <div class="row justify-content-center">
        <div class="col-12 table-responsive">
            <table class="table table-dark table-striped table-bordered text-center" id="tabela">
            <thead class="thead">
              <tr>
                <th scope="col">Izberi</th>
                <th scope="col">Sestavina</th>
                <th scope="col">Količina</th>
                <th scope="col">Nabavna cena (na enoto)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sestavina of sestavine; index as i">
                <th scope="row">
                    <div class="custom-control custom-checkbox">    
                        <input type="checkbox" class="custom-control-input" id="customCheck{{stevec [attr.data-index]='i'}}" idsestavine="{{sestavina._id}}">
                        <label class="custom-control-label" for="customCheck{{stevec [attr.data-index]='i'}}"></label>
                    </div>
                </th>
                <td iskanje="Sestavina">{{sestavina.ime}}</td>
                <td iskanje="Količina">{{sestavina.kolicina}} {{sestavina.enota}}</td>
                <td iskanje="Cena">{{sestavina.cena}} €</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <!-- KONEC tabele
</div> -->