* {
    font-family: 'Raleway', sans-serif;
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.main_container {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)),
    url('../img/pexels-emre-kuzu-2237189.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60%;
    overflow: auto;
}

.nav-bar {
    /* border: 1px solid red; */
    margin-top: 5.5%;
}

.nav-bar ul {
    text-align: center;
    padding: 0;
    /* border: 1px solid yellow; */
    width: 100%;
    position: relative;
}

.nav-bar ul li {
    padding: 0;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 150%;
    list-style: none;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}

.nav-bar ul li a:hover {
    transition: 0.75s;
    color: #5F3C50;
    border-radius: 12px;
    padding: 7px;
    background-color: white;
    /* border-bottom: 1px solid #5F3C50; */
}

.nav-bar ul li a {
    transition: 0.75s;
    text-decoration: none;
    color: white;
}

.logo {
    width: 50%;
    /* border: 1px solid white; */
    position: relative;
    left: 25%;
}

.logo h1 {
    font-family: 'Dancing Script', cursive;
    font-family: 'Satisfy', cursive;
    color: white;
    text-align: center;
    font-size: 500%;
    transition: 2s;
    margin-bottom: 12px;
}
.logo p {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    font-weight: 100;
    font-size: 200%;
}

.headcont{
    color:white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size:2.5em;
    text-align: center;
    margin-top:2em;
}

.menuitem{
    background-color: #35313b;
    margin-bottom: 1.5em;
}

.menuitem img{
    width: 100%;
}

.menudesc{
    display:flex;
    justify-content: space-between;
    padding:1em;
    align-items: center;
}

.menudescname{
    display:flex;
    align-items: center;
}

.menudesc h1{
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.menudesc p{
    margin:0 0.3em;
    color:white;
    font-size:1.2em;
    font-weight: 100;
} 

.but {
    font-family: 'Raleway', sans-serif;
    border: 1px solid white;
    color: white;
    background: none;
    border-radius: 12px;
    padding:0.5em;
}

.but:hover {
    transition: 1s;
    color:#5F3C50;
    background:none;
    border: 1px solid #5F3C50;
    background-color: white;
    text-decoration: none;
}

.butlarge {
    font-family: 'Raleway', sans-serif;
    border: 1px solid white;
    color: white;
    background: none;
    border-radius: 12px;
    padding: 0.2em 2em;
    font-size: 2em;
    margin-bottom: 1em;
}

.butlarge:hover {
    transition: 1s;
    color:#5F3C50;
    background:none;
    border: 1px solid #5F3C50;
    background-color: white;
    text-decoration: none;
}

.selected {
    border-radius: 12px;
    padding: 6px;
    border: 1px solid white;
    background-color: white;
    color: #5F3C50 !important;
}

@media (max-width: 1024px) {
    .card {
        width: 85vw;
    }
}
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 100px) and (max-width: 480px) {
    .main_container {
        background-image: url('../img/andrew-seaman-sQopSb2K0CU-unsplash.jpg');
        background-color: #4C4556;
        overflow: auto;
    }
    
    html {
        background-color: #4C4556;
    }

    .logo p {
        font-size: 24px;
    }


    #rezerviraj_mizo {
        margin-top: 10%;
        border-radius: 12px;
        border: 1px solid white;
    }

    .nav-bar ul li a:hover {
        background: none;
        transition: 0.75s;
        color: #5F3C50;
        border-radius: 12px;
        background-color: white;
        /* border-bottom: 1px solid #5F3C50; */
    }

    .headcont{
        margin-top:0;
    }

    .menudescname{
        align-items: baseline;
        flex-direction: column;
    }

  }