* {
    font-family: 'Raleway', sans-serif;
}
.table {
    font-size: 20px;
    background-color: #35313b;
}
h1 {
    color: White;
}
.thead {
    background-color: #2A272E;
    font-size: 21px;
}
.btn-dark {
    font-family: 'Raleway', sans-serif;
    background: none;
    border: 1px solid white;
    border-radius: 12px;
    color: white;
    transition: 1s;
    /* ce ti je usec ta dodatek */
    backdrop-filter: blur(5px);
    margin-bottom: 0.5em;
    /* END dodatek */
}
.btn-dark:hover {
    transition: 1s;
    color:#5F3C50;
    background:none;
    border: 1px solid #5F3C50;
    background-color: white;
}
.input-group input[type="text"] {
    font-family: 'Raleway', sans-serif;
    background: none;
    border: 1px solid white;
    border-radius: 12px;
    color: white;
    transition: 1s;
    backdrop-filter: blur(5px);
}
.input-group input[type="text"]:focus:not([readonly]) {
    box-shadow: 0 0 0 1px white;
}
.form-control::-webkit-input-placeholder {
  color: white;
}