.dish{
    padding: 10px;
    position: center;
    color: white;
    border:1px solid white;
    border-radius: 12px;
}



input[type=text]{
    padding: 4px;
    border-radius: 5px;
}


form{
    visibility: hidden;
}


label {
    color: white;
}


