
body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.bg {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)),
    url('../img/pexels-emre-kuzu-2237189.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60%;
    overflow: auto;
}

/*.mobilelogo{
    display: none;
}*/

.navbar{
    width:60%;
    margin:auto;
    display:flex;
    justify-content: right;
}

.logo{
    margin-right: 1.2em;
}

.logo a{
    font-family: 'Satisfy', cursive;
    color:white;
    font-size:200%;
    color:white;
}

.logo a:hover{
    text-decoration: none;
    color:#5F3C50;
    transition: 0.2s;
}


.navelement{
    margin: 0 1em;
    display:flex;
    padding:5px;
    border-radius: 12px;
}

.navelement a{
    font-family: 'Raleway', sans-serif;
    font-size:150%;
    color:white;
}

.navelement:not(#username):hover{
    background-color: white;
    transition: 0.2s;
}

.navelement a:hover{
    color:#5F3C50;
    text-decoration: none;
}


.navelement i{
    margin-left:0.7em;
    align-self: center;
    color:white;
}

#username{
    margin-left:auto;
    color: #CCCCCC;
}

#username i{
    padding:5px;
    border-radius: 12px;
    cursor: pointer;
}

#username i:hover{
    color:#5F3C50;
    background-color: white;
}

.btn-dark {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    background: none;
    border: 1px solid white;
    border-radius: 12px;
    color: white;
    transition: 1s;
}
.btn-dark:hover {
    transition: 1s;
    color:#5F3C50;
    background:none;
    border: 1px solid #5F3C50;
    background-color: white;
}

@media (min-width: 280px) and (max-width: 480px) {
    .mobilenav{
        margin-top: 1.5em;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobilenav a{
        font-family: 'Satisfy', cursive;
        font-size:250%;
        color:white;
        text-align: center;
    }

    .mobilenav div{
        color:white;
        padding: 0 2em;
    }

    .mobilenav div i{
        border:1px solid white;
        border-radius: 12px;
        padding:0.7em 1em;
    }

    .mobilenav div div{
        padding:1.5em;
    }

    .navbar{
        display: none;
    }
}