<link rel="stylesheet" href="stylesheets/index.css">
<div class="login-buttons">
    <button class="btn btn-primary" data-toggle="collapse" href="#register" role="button" aria-expanded="true" aria-controls="register" id="register-button">
        REGISTRACIJA
        </a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#login" aria-expanded="false" aria-controls="login" id="login-button">
            PRIJAVA
        </button>
</div>

<div class="collapse" id="register">
    <div class="form_content">
        <div class = 'form-text'>
            <h1>Nimate uporabniskega racuna ?</h1>
        </div>
            <div class="form_content__form">
                <div class="form-group">
                    <label for="InputName">Ime in Priimek</label>
                    <input type="text" class="form-control" id="InputName" name="registerName">
                </div>

                <div class="form-group">
                    <label for="InputEmail">Email naslov</label>
                    <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" name="registerEmail">
                </div>

                <div class="form-group">
                    <label for="InputPhoneNumber">Telefonska stevilka</label>
                    <input type="text" class="form-control" id="InputPhoneNumber" name="registerNumber">
                </div>

                <div class="form-group">
                    <label for="InputPassword">Geslo</label>
                    <input type="password" class="form-control" id="InputPassword" name="registerPassowrd">
                </div>

                <div class="form-group">
                    <label for="InputPasswordRepeat">Ponovite geslo</label>
                    <input type="password" class="form-control" id="InputPasswordRepeat" name="registerConfirmPassword">
                </div>

                <button type="submit" class="btn" id="submitRegister">REGISTRIRAJ SE</button>
            </div>
    </div>
</div>

<div class="collapse" id="login">
    <div class="form_content">
        <div class = 'form-text'>
            <h1>Imate uporabniski racun ?</h1>
        </div>
        <div class="form_content__form">
            <div class="form-group">
                <label for="InputEmail">Email naslov</label>
                <input type="email" class="form-control" id="InputEmailLogin" aria-describedby="emailHelp">
            </div>

            <div class="form-group">
                <label for="InputPassword">Geslo</label>
                <input type="password" class="form-control" id="InputPasswordLogin">
            </div>

            <button type="submit" class="btn" id="submitLogin">PRIJAVI SE</button>
        </div>
    </div>
</div>

<script>
    document.getElementById('register-button').addEventListener(('click'), (event) => {
        const login_html = document.getElementById('login');
        login_html.classList.remove('show');
    })
    document.getElementById('login-button').addEventListener(('click'), (event) => {
        const register_html = document.getElementById('register');
        register_html.classList.remove('show');
    })
    document.getElementById('submitLogin').addEventListener(('click'), (event) => {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/login", true);
        const user = {
            email_naslov:document.getElementById("InputEmailLogin").value,
            geslo:document.getElementById("InputPasswordLogin").value
        }
        xhttp.onload = function () {
            const credentials = JSON.parse(this.responseText);
            if (credentials.error_message) {
                //TODO:implement error handling
                return;
            }
            localStorage.setItem("credentials", this.responseText);
            window.location.href = "/?uporabnik_id="+ credentials.uporabnik_id;
        }
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.send(JSON.stringify(user))
    })

    document.getElementById('submitRegister').addEventListener(('click'), (event) => {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/register", true);
        const user = {
            ime: document.getElementById("InputName").value,
            email_naslov: document.getElementById("InputEmail").value,
            telefonska_stevilka: document.getElementById("InputPhoneNumber").value,
            geslo: document.getElementById("InputPassword").value,
        }
        xhttp.onload = function () {
            console.log(this.responseText);
            const credentials = JSON.parse(this.responseText);
            if (credentials.error_message) {
                //TODO:implement error handling
                return;
            }
            console.log("Uspesna registracija")
        }
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.send(JSON.stringify(user));
    })
</script>
