<link rel="stylesheet" href="stylesheets/index.css">
<link rel="stylesheet" href="stylesheets/index_logged.css">

<div class="logo" style="margin-top: 5%;">
    <h1>Dobrodosli nazaj</h1>
</div>

<div class="credentials">
    <h1>Osebni podatki: </h1>
    <p>{{uporabnik.ime}}</p>
    <p>{{uporabnik.email_naslov}}</p>
    <p>{{uporabnik.telefonska_stevilka}}</p>
</div>

<div class="logout" id="odjava">
    <button class="logout__buton">ODJAVA</button>
</div>

<script>
    document.getElementById("odjava").addEventListener("click", (event) => {
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "/odjava", true);
        xhttp.onload = function () {
            localStorage.removeItem("credentials");
            sessionStorage.removeItem("credentials");
            window.location = "/";
        }
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.send()
    })
</script>
