<link rel="stylesheet" href="stylesheets/index.css">
<link rel="stylesheet" href="stylesheets/index_logged.css">

<div class="logo" style="margin-top: 5%;">
    <h1>Dobrodosli nazaj</h1>
</div>

<div class="credentials">
    <h1>Osebni podatki: </h1>
    <p>{{uporabnik.ime}}</p>
    <p>{{uporabnik.email_naslov}}</p>
    <p>{{uporabnik.telefonska_stevilka}}</p>
</div>

<div class="logout">
    <button class="logout__buton">ODJAVA</button>
</div>

<script>
    document.getElementById("odjava").addEventListener("click", (event) => {
        localStorage.removeItem("credentials");
        window.location.href = "/";
    })
</script>
