<link rel="stylesheet" href="/stylesheets/nadzorna_plosca_main_style.css">
<link rel="stylesheet" href="/stylesheets/nadzorna_plosca_menu.css">

<!-- ce ci je usec ta dodatek -->
<div class="col-xl-12">
    <h1 class="sredina-text text-white">Nadzorna plošča</h1>
</div>
<div class="col-xl-12">
    <h3 class="sredina-text text-white">Legenda ikon menija</h3> 
</div>
<!-- END dodatek -->
<!-- Tukaj KONEC vsebino -->

<br>
<div class="row">

    {{{nadzorna_plosca_gumbi_by_role zaposleni_role uporabnik_id}}}
</div>