<link rel="stylesheet" href="/stylesheets/nadzorna_plosca_main_style.css">
<link rel="stylesheet" href="/stylesheets/nadzorna_plosca_menu.css">

<!-- ce ci je usec ta dodatek -->
<div class="col-xl-12">
    <h1 class="sredina-text text-white">Nadzorna plošča</h1>
</div>
<div class="col-xl-12">
    <h3 class="sredina-text text-white">Legenda ikon menija</h3> 
</div>
<!-- END dodatek -->
<!-- Tukaj KONEC vsebino -->

<br>
<div class="row">
    <div class="col">
        <a href="/nadzorna_plosca/rezervacije" role="button" class="btn btn-dark btn-block"><i
                class="fas fa-user-clock"></i><br>Rezervacije</a>
    </div>
    <div class="col">
        <a href="nadzorna_plosca_urnik.html" role="button" class="btn btn-dark btn-block"><i
                class="far fa-calendar-alt"></i><br>Urnik</a>
    </div>
    <div class="w-100"></div>
    <div class="col">&nbsp;</div>
    <div class="col">&nbsp;</div>
    <div class="w-100"></div>
    <div class="col">
        <a href="nadzorna_plosca_zasluzek.html" role="button" class="btn btn-dark btn-block"><i
                class="fas fa-coins"></i><br>Zaslužek</a>
    </div>
    <div class="col">
        <a href="nadzorna_plosca_meni.html" role="button" class="btn btn-dark btn-block"><i
                class="fas fa-book-open"></i><br>Meni</a>
    </div>
    <div class="w-100"></div>
    <div class="col">&nbsp;</div>
    <div class="col">&nbsp;</div>
    <div class="w-100"></div>
    <div class="col">
        <a href="/nadzorna_plosca/zaloga" role="button" class="btn btn-dark btn-block"><i
                class="fas fa-boxes"></i><br>Zaloga</a>
    </div>
    <div class="col">
        <a href="/nadzorna_plosca/zaposleni" role="button" class="btn btn-dark btn-block"><i
                class="fas fa-user-cog"></i><br>Zaposleni</a>
    </div>
    <div class="w-100"></div>
    <div class="col">&nbsp;</div>
    <div class="col">&nbsp;</div>
    <div class="w-100"></div>
    <div class="col">
        <a href="nadzorna_plosca_narocila_natakar.html" role="button" class="btn btn-dark btn-block"><i
                class="fas fa-utensils"></i><br>Naročila strežba</a>
    </div>
    <div class="col">
        <a href="nadzorna_plosca_narocila_kuhar.html" role="button" class="btn btn-dark btn-block"><i
                class="fas fa-utensils"></i><br>Naročila kuhinja</a>
    </div>
</div>