<link rel="stylesheet" href="/stylesheets/nadzorna_plosca_main_style.css">

<div class="row">

    <div class="col-12 col-md-6" id="narocila">
        <div class="col-xl-12">
            <h3 class="sredina-text text-white">NaroÄila</h3>
        </div>

        {{#each narocila.vrsta as | item |}}
            {{> narociloItem id = item.id datum = item.datum sprejem_narocila = item.sprejem_narocila jedi=item.jedi }}
        {{/each}}

    </div>

    <div class="col-12 col-md-6" id="priprava">
        <div class="col-xl-12">
            <h3 class="sredina-text text-white">V pripravi</h3>
        </div>
        {{#each narocila.priprava as | item |}}
            {{> narociloItemPriprava id = item.id datum = item.datum sprejem_narocila = item.ura jedi=item.meni_items zacetek_priprave=item.zacetek_priprave }}
        {{/each}}
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascript/nadzorna_plosca_kuhar.js"></script>
