<link rel="stylesheet" href="/stylesheets/nadzorna_plosca_main_style.css">
<script src="/javascript/nadzorna_plosca_meni.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="/stylesheets/nadzorna_plosca_meni.css">

<a>
    <div class="col-4 col-sm-4"><button id="dodaj" type="button" class="btn btn-dark btn-block add"><i class="fas fa-plus"></i> DODAJ</button></div>
</a>

<div class="menu-items">
    {{#each menu_items as | item |}}
        {{> menuItem ime=item.ime id=item._id cena=item.cena kalorije=item.kalorije edit=(concat "edit_" item._id) del=(concat "del_" item._id) form=(concat "form_" item._id)}}
    {{/each}}
</div>