<link rel="stylesheet" href="/stylesheets/nadzorna_plosca_main_style.css">
<script src="/javascript/database.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div class="row">
    <div>
        <button id="setDB" class="btn btn-dark">Vnos zacetnih podatkov</button>
    </div>
    <br>
    <div>
        <button id="dropDB" class="btn btn-dark">Izbris vsebine podatkovne baze</button>
    </div>
</div>