<link rel="stylesheet" href="/stylesheets/rezervacija_menu.css">
<p class="headcont">Izberite hrano</p>

<div class="row justify-content-center">
    {{#each dynamicData as |meni_item|}}
    <div class="col-md-3 col-10">
        <div class="menuitem">
            <img src="{{meni_item.slika}}">
            <div class="menudesc">
                <div class="menudescname">
                    <h1>{{meni_item.ime}}</h1>
                    <p>{{meni_item.cena}}€</p>
                </div>
                <div class="dodaj">
                    <i class="fas fa-plus"></i>
                    <p class="foodCounter" id="{{meni_item._id}}">0</p>
                    <i class="fas fa-minus"></i>
                </div>
            </div>
        </div>
    </div>
    {{#vsaka_druga @index}}
    {{/vsaka_druga}}
    {{/each}}
    <!--<div class="col-md-3 col-10">
        <div class="menuitem">
            <img src="/images/jedi/1.png">
            <div class="menudesc">
                <div class="menudescname">
                    <h1>Hobotnica</h1>
                    <p>12€</p>
                </div>
                <div class="dodaj">
                    <i class="fas fa-plus"></i>
                    <p class="foodCounter" id="1">0</p>
                    <i class="fas fa-minus"></i>
                </div>
            </div>
        </div>
    </div>-->
    <button class="butlarge" id="klikRezerviraj">Rezerviraj</button>
</div>

<script src="/javascript/rezerviraj_menu.js">