<div class="rezervacija-skatla">
  <h5>Narocilo - id</h5>
  <p class="levo-text kartica-padding">
    Miza: <strong> Stevilka mize</strong>
    <span class="desno-float">Datum: <strong>1.1.2020</strong></span>
  </p>
  <p class="levo-text kartica-padding">
    Sprejem narocila:<strong>12.00</strong>
  </p>
  <h6 class="sredina-text"><strong>Jedi:</strong></h6>
  <ul>
    <li>JED1 <strong>31x</strong></li>
    <li>JED2 <strong>12x</strong></li>
  </ul>
  <div class="ikone-stil">
    <i role="button" class="far fa-check-circle ikone-stil-posamezna"></i>
    <i role="button" class="fas fa-ban ikone-stil-posamezna"></i>
  </div>
</div>
