.jed {
  margin: 5% 5%;
}
.jed input {
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  vertical-align: bottom;
  border-radius: 12px;
  background-color: #35313b;
  box-shadow: none;
  border: 1px solid white;
  color: white;
  text-align: center;
}

.jed__ime {
  vertical-align: top;
  text-align: center;
  color: white;
}

.jed__cena {
  text-align: center;
  color: white;
}

#dismiss {
  margin-left: 5%;
  margin-bottom: 5%;
  float: left;
}
#saveData {
  margin-right: 5%;
  margin-bottom: 5%;
  float: right;
}

.narocilo__button {
  background-color: #35313b;
  border: 1px solid white;
  border-radius: 12px;
  padding: 2% 2%;
  color: white;
}
#title {
  color: white;
  margin-left: 25%;
}
.close {
  color: white;
}

#dodajNaorcilo {
  margin: 5% 30%;
  width: 40%;
  background:none;
  padding: 1%;
  border: 1px solid white;
  border-radius: 12px;
}

.miza {
  text-align: center;
  color: white;
  margin-bottom: 5%;
}

.miza input {
  background-color: #35313b;
  box-shadow: none;
  border: 1px solid white;
  color: white;
  border-radius: 12px;
  text-align: center;
}


.cena h1 {
  color: white;
  width: 50%;
  margin: 5% 25%;
}

body {
  background: #1b1b1b;
}

h1{
  font-family: tahoma;
  margin-top: 50px;
  font-size: 48px;
  color: #9e9e9e;
  text-align: center;
  font-weight: 200;
}

.bell{
  display:block;
  width: 40px;
  height: 40px;
  font-size: 40px;
  margin:50px auto 0;
  color: #9e9e9e;
  -webkit-animation: ring 4s .7s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 4s .7s ease-in-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 4s .7s ease-in-out infinite;
  transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
  0% { -webkit-transform: rotateZ(0); }
  1% { -webkit-transform: rotateZ(30deg); }
  3% { -webkit-transform: rotateZ(-28deg); }
  5% { -webkit-transform: rotateZ(34deg); }
  7% { -webkit-transform: rotateZ(-32deg); }
  9% { -webkit-transform: rotateZ(30deg); }
  11% { -webkit-transform: rotateZ(-28deg); }
  13% { -webkit-transform: rotateZ(26deg); }
  15% { -webkit-transform: rotateZ(-24deg); }
  17% { -webkit-transform: rotateZ(22deg); }
  19% { -webkit-transform: rotateZ(-20deg); }
  21% { -webkit-transform: rotateZ(18deg); }
  23% { -webkit-transform: rotateZ(-16deg); }
  25% { -webkit-transform: rotateZ(14deg); }
  27% { -webkit-transform: rotateZ(-12deg); }
  29% { -webkit-transform: rotateZ(10deg); }
  31% { -webkit-transform: rotateZ(-8deg); }
  33% { -webkit-transform: rotateZ(6deg); }
  35% { -webkit-transform: rotateZ(-4deg); }
  37% { -webkit-transform: rotateZ(2deg); }
  39% { -webkit-transform: rotateZ(-1deg); }
  41% { -webkit-transform: rotateZ(1deg); }

  43% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
  0% { -moz-transform: rotate(0); }
  1% { -moz-transform: rotate(30deg); }
  3% { -moz-transform: rotate(-28deg); }
  5% { -moz-transform: rotate(34deg); }
  7% { -moz-transform: rotate(-32deg); }
  9% { -moz-transform: rotate(30deg); }
  11% { -moz-transform: rotate(-28deg); }
  13% { -moz-transform: rotate(26deg); }
  15% { -moz-transform: rotate(-24deg); }
  17% { -moz-transform: rotate(22deg); }
  19% { -moz-transform: rotate(-20deg); }
  21% { -moz-transform: rotate(18deg); }
  23% { -moz-transform: rotate(-16deg); }
  25% { -moz-transform: rotate(14deg); }
  27% { -moz-transform: rotate(-12deg); }
  29% { -moz-transform: rotate(10deg); }
  31% { -moz-transform: rotate(-8deg); }
  33% { -moz-transform: rotate(6deg); }
  35% { -moz-transform: rotate(-4deg); }
  37% { -moz-transform: rotate(2deg); }
  39% { -moz-transform: rotate(-1deg); }
  41% { -moz-transform: rotate(1deg); }

  43% { -moz-transform: rotate(0); }
  100% { -moz-transform: rotate(0); }
}

@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }

  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}

.bell {
  left: 50%;
  top: 50%;
  position: fixed;
}
.hidden {
  display: none;
}

.bell span {
}

input:focus {outline:0;}
button:focus {outline:0;}

/* Pisava */
* {
  font-family: 'Raleway', sans-serif;
}
/* Slika ozadja */
body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.bg {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)),
  url('/assets/slike/pexels-emre-kuzu-2237189.jpg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 60%;
  overflow: auto;
}

/* Vrhni Meni */
.navbar-nadzorna-plosca {
  /* index ima 5.5% sam je wasted space na nadzorni plosci */
  margin-top: 1%;
}
.navbar-nadzorna-plosca-ul {
  /* text-align: center; */
  padding: 0;
  width: 100%;
  position: relative;
}
.navbar-nadzorna-plosca-levo{
  position: relative;
  margin-left: auto;
  margin-right: 0;
  float: right;
  text-align: right;
}
.navbar-nadzorna-plosca-ul-li-text{
  padding: 0;
  color: gray;
  text-decoration: none;
  font-weight: 500;
  font-size: 150%;
  list-style: none;
  display: inline-block;
  /* index margin-left: 2%; */
  /* index margin-right: 2%; */
}
/* TO JE ZA TO SA JE NAVBAR GUMB BEL*/
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: rgb(255,255,255);
}
/* END*/
.logo-nadzorna-plosca {
  font-family: 'Dancing Script', cursive;
  font-family: 'Satisfy', cursive;
  color: white;
  font-weight: 500;
  font-size: 150%;
}
.logo-nadzorna-plosca:hover {
  cursor: pointer;
  color: #5F3C50;
  transition: 0.75s;
}
/* ikone */
.ikone-stil {
  text-align: center;
  font-size: 150%;
  color: white;
}
.ikone-stil-posamezna {
  text-align: center;
  color: white;
  margin-right: 2%;
  margin-left: 2%;
}
.ikone-stil-logout {
  text-align: center;
  font-size: 150%;
  color: white;
  margin-left: 1%;
}
.ikone-stil-logout:hover {
  cursor: pointer;
  color: #5F3C50;
  transition: 0.75s;
}
/* END Vrhni Meni */


/* Rezervacija kartice */
.rezervacija-skatla {
  color: white;
  background-color: #35313b;
  border-radius: 12px;
  /*border: 1px solid white;*/
  margin-bottom: 1em;
  padding:1em;
}
.kartica-padding {
  padding-left: 1%;
  padding-right: 1%;
}
.sredina-text {
  text-align: center;
}
.levo-text {
  text-align: left;
}
.levo-float {
  float: left;
}
.desno-text {
  text-align: right;
}
.desno-float {
  float: right;
}
.gor-margin {
  margin-top: 1%;
}
.ikone-stil-posamezna-no-center {
  color: white;
  margin-right: 2%;
  margin-left: 2%;
}

.title{
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
}

.title i{
  font-size: 1.5em;
  margin: 0 0.5em 0;
}

.title i:hover{
  cursor: pointer;
  color: #5F3C50;
  transition: 0.75s;
}
.ikone-stil-posamezna:hover {
  cursor: pointer;
  color: #5F3C50;
  transition: 0.75s;
}
.ikone-stil-dodatno:hover {
  cursor: pointer;
  color: #5F3C50;
  transition: 0.75s;
}
.ikone-stil-posamezna-no-hover {
  text-align: center;
  color: white;
  margin-right: 2%;
  margin-left: 2%;
}
.title h1{
  margin:0;
}

.modal-content{
  background-color: #35313b;
  border-radius: 12px;
}

.iconsflex{
  display:flex;
  flex-direction: column;
  margin-left: 0.5em;
}

.iconmodal{
  display: flex;
  margin-bottom: 1em;
}

.iconmodal i{
  font-size: 1.5em;
  color: white;
  width: 1em;
}

.iconmodal p{
  margin:0 1em 0;
  color:white;
}

.legendheader{
  color:white;
  text-align: center;
}

.butlegenda{
  display:flex;
  justify-content: center;
}

.butkontakt{
  display: flex;
  justify-content: space-around;
}

.but{
  font-family: 'Raleway', sans-serif;
  border: 1px solid white;
  color: white;
  background: none;
  border-radius: 12px;
  padding:0.5em;
  margin-right: 1em;
}

.but:hover {
  transition: 1s;
  color:#5F3C50;
  background:none;
  border: 1px solid #5F3C50;
  background-color: white;
}

.sredina-text i {
  font-size: 1em;
}

.kontaktinput{
  width: 100%;
  height: 10em;
  margin-bottom: 1em;
}
/* END Kartica */
/* graf zasluzek */
canvas#chLine {
  background-color: #35313b;
}

.inputfield {
  margin: 10px 0;
  width: 40%;
}

.inputfieldtop {
  display: flex;
  justify-content: space-around;
}

.inputfield lebel {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  display: block;
  text-align: center;
}

.inputfield input{
  border-radius: 12px;
  display:block;
  width:100%;
}

.meniitem {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  color:white;
  justify-content: space-between;
}

.meniitemflex {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-right: .3em;
}

.meniitemflex p {
  margin: 0;
}

.meniitem i {
  margin: 0 0.2em;
  cursor: pointer;
}

.meniitem i:hover {
  color:#5F3C50;
  transition: 0.25s;
}

#meni{
  width: 89%;
  margin:auto;
}

.modalheader{
  color: white;
  text-align: center;
  font-size: 2em;
}

.cena {
  margin: 0;
  font-weight: lighter;
}



