.card_body {
  background-color: #35313b;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


@media (max-width: 1024px) {
  .card {
    width: 85vw;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {


}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {


}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {


}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 100px) and (max-width: 480px) {
  .main_container {
    background-image: url('/images/andrew-seaman-sQopSb2K0CU-unsplash.jpg');
    background-color: #4C4556;
    overflow: auto;
  }

  html {
    background-color: #4C4556;
  }

  .logo p {
    font-size: 24px;
  }


  #rezerviraj_mizo {
    margin-top: 10%;
    border-radius: 12px;
    border: 1px solid white;
  }

  .nav-bar ul li a:hover {
    background: none;
    transition: 0.75s;
    color: #5F3C50;
    border-radius: 12px;
    background-color: white;
    /* border-bottom: 1px solid #5F3C50; */
  }

}
